!!!!!!!!!!!!!!
!! Settings !!
!!!!!!!!!!!!!!

xterm*faceName: MesloLGS NF
xterm*faceSize: 12

xterm*savelines: 10000
!! double click to select all the url as seen on https://scarygliders.net/2011/12/01/customize-xterm-the-original-and-best-terminal/
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

!! copy paste support
xterm*VT100.Translations: #override \
  Ctrl Shift <Key>V:     insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C:     copy-selection(CLIPBOARD)   


! TokyoNight colors for Xresources

*background: #24283b
*foreground: #c0caf5

*color0: #1D202F
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5
